ROUNDZ_GATEWAY_URL=http://10.0.2.2:3000
ROUNDZ_SOCKET_URL=http://10.0.2.2:3000
ROUNDZ_MQTT_URL=ws://10.0.2.2:1883
ROUNDZ_ENV=development
ROUNDZ_ENABLE_ANALYTICS=false
ROUNDZ_ENABLE_PUSH=true
ROUNDZ_APP_ROLE=rider
